$color-principal : rgb(247, 247, 252);
$color-fondo:rgb(16, 13, 13);
$tarjeta: flex;
$color-unico:rgb(3, 35, 22);
$margen : 30px;






#carouselExampleControls{
margin-top:$margen ;
}

h1{
    display: flex;
    color: $color-unico ;
    align-items: center;
    justify-content: center;
    border-top: 4px;
    
  
}
h5{
    display: flex;
    justify-content: center;
    color:$color-principal ;
    background-color: $color-fondo;
    border-radius: 5px;

}
.row{
    display: $tarjeta;
    justify-content: center;
    align-items: center;
}
.card{
    margin: $margen;
   
}
