.fondo{
    
    background-color: black
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
color: white;
display: flex;
justify-content: center;
      
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.container{
    background-color:rgb(255, 255, 255);
    margin: 0px;
}
.tarjetas {
flex-direction: column;
justify-content: center;
margin-top: 40px;


}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
    margin: 6px;
    
}

.card-body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:aliceblue;
text-align: center;
margin:0px;

}

.fotos{
    width: 20px;
    height: 20px;
}
.footer{
background-color:rgb(234, 230, 228);
margin-top: 129px;
}

.parraf{
  display: flex;
  justify-content: center;
  margin-left: 20px;
}


