.fondo{
    
    background-color: black
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
color: white;
display: flex;
justify-content: center;
      
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.container{
    background-color:rgb(255, 255, 255);
    margin: 0px;
}

.card{
    
    margin:20px;
      

}
.card-body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color:aliceblue;
text-align: center;
margin:0px;

}
.footer{
    margin-top: 100px;
    background-color: white;
}
.fotos{
    width: 20px;
    height: 20px;
}

.footer{
    margin-top: 20px;
    background-color: rgb(62, 46, 34);
    
}
.parraf{
  display: flex;
  justify-content: center;
  margin-left: 20px;
}


